html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $grayishBlue;
}

h1,
h2,
h3 {
  color: $darkBlue;
  font-weight: 300;
  line-height: 1;
  margin-top: 0;
}
h1 {
  font-size: 2.125rem;
}

p {
  font-size: 1.125rem;
  color: $grayishBlue;
}

ul {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: $font-med;
  color: $grayishBlue;
  line-height: 1.5;
  font-weight: 300;
}

// Flexbox
.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}
//Grid

// Button
.button {
  padding: 0.875rem 2.1875rem;
  border-radius: 30rem;
  border: 0;
  cursor: pointer;
  font-size: $font-sm;
  font-weight: 400;
  color: #fff;
  transition: opacity 0.2s ease-in-out;

  &--green {
    background: $gradient;
    color: $white;
  }
  &:hover {
    opacity: 0.75;
    color: #fff;
  }
}
a.button {
  color: $white;
}

//collapsible

.hide-for-mobile {
  //hide for tablet and mobile
  @include breakpoint-down(medium) {
    display: none;
  }
}

.hide-for-desktop {
  //hide for desktop viewport widths
  @include breakpoint-up(large) {
    display: none;
  }
}

.container {
  max-width: 70rem;
  margin: 0 auto;

  &--p {
    padding-top: 2.25rem;
    padding-right: 1.5rem;
    padding-bottom: 2.25rem;
    padding-left: 1.5rem;
  }

  &--px {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  &--py {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  &--pt {
    padding-top: 2.25rem;
  }
  &--pr {
    padding-right: 1.5rem;
  }
  &--pb {
    padding-bottom: 2.25rem;
  }
  &--pl {
    padding-left: 1.5rem;
  }
}
.grid {
  display: grid;
}
