@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 0.2s ease-in forwards;
          animation: fade-in 0.2s ease-in forwards;
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    visibility: visible;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 0.2s ease-in-out forwards;
          animation: fade-out 0.2s ease-in-out forwards;
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
  color: #9698a6;
  line-height: 1.5;
  font-weight: 300;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  padding: 0.875rem 2.1875rem;
  border-radius: 30rem;
  border: 0;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 400;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.button--green {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(0.25turn, #31d35c, #2bb7da);
  color: #fafafa;
}

.button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1023px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 1.0625rem 1.5rem;
}

.header .overlay {
  position: fixed;
  top: 3.75em;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9698a6), to(transparent));
  background-image: linear-gradient(#9698a6, transparent);
}

.header__logo img {
  width: 8.8125rem;
  height: 1.375rem;
}

.header__logo:hover {
  scale: 1.02;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #9698a6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__links a {
  font-size: 0.875rem;
  color: #9698a6;
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
}

.header__links a:hover {
  color: #2d314d;
  padding-bottom: 1.5rem;
  border-bottom: 5px solid;
  border-bottom-width: 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(0.25turn, #31d35c, #2bb7da);
}

.header__links a:not(:last-child) {
  margin-right: 32px;
}

.header.open span:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 6px);
          transform: rotate(45deg) translate(5px, 6px);
}

.header.open span:nth-child(2) {
  -webkit-transform: scale(-2px, 0px);
          transform: scale(-2px, 0px);
  opacity: 0;
}

.header.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(4px, -5px);
          transform: rotate(-45deg) translate(4px, -5px);
}

.header.open .header__links {
  display: block;
}

.header.open .overlay {
  -webkit-animation: fade-in 0.2s ease-in-out forwards;
          animation: fade-in 0.2s ease-in-out forwards;
  display: block;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#2d314d), to(transparent));
  background-image: linear-gradient(#2d314d, transparent);
}
/*# sourceMappingURL=style.css.map */