<section class="latest">
    <div class="container container--px">
        <h2 class="latest__heading">Latest Articles</h2>
        <div class="box">
            <div class="latest__blocks">
                <img src="/images/image-currency.jpg" alt="">
                <div class="latest__text container--px">
                    <p class="latest__author">By Claire Robinson</p>
                    <h3>Receive money in any currency with no fees</h3>
                    <p class="desc">The world is getting smaller and we’re becoming more mobile. So why should you be
                        forced to only receive money in a single …</p>
                </div>
            </div>
            <div class="latest__blocks">
                <img src="/images/image-restaurant.jpg" alt="">
                <div class="latest__text container--px">
                    <p class="latest__author">By Wilson Hutton</p>
                    <h3>Treat yourself without worring about money</h3>
                    <p class="desc">Our simple budgeting feature allows you to separate out your spending and set
                        realistic limits each month. That means you …</p>
                </div>
            </div>
            <div class="latest__blocks">
                <img src="/images/image-plane.jpg" alt="">
                <div class="latest__text container--px">
                    <p class="latest__author">By Wilson Hutton</p>
                    <h3>Take your Easybank card where you go</h3>
                    <p class="desc">We want you to enjoy your travels. This is why we don’t charge any fees on purchases
                        while you’re abroad. We’ll even show you …</p>
                </div>
            </div>
            <div class="latest__blocks">
                <img src="/images/image-confetti.jpg" alt="">
                <div class="latest__text container--px">
                    <p class="latest__author">By Claire Robinson</p>
                    <h3>Our invite-only Beta accounts are now live!</h3>
                    <p class="desc">After a lot of hard work by the whole team, we’re excited to launch our closed beta.
                        It’s easy to request an invite through the site ...</p>
                </div>
            </div>
        </div>
    </div>
</section>