<header class="header">

    <nav class="flex flex-jc-sb flex-ai-c container">

        <a href="/" class="header__logo">
            <img src="/images/logo.svg" alt="Easybank">
        </a>

        <a href="#" id="btnHamburger" class="header__menu hide-for-desktop">
            <span></span>
            <span></span>
            <span></span>
        </a>

        <div class="header__links hide-for-mobile">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Blog</a>
            <a href="#">Careers</a>
        </div>

        <a class="button button--green hide-for-mobile">Request Invite</a>

    </nav>
    <div class="overlay fade-out hide-for-desktop">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Careers</a></li>
        </ul>
    </div>
</header>